*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Archivo Narrow', sans-serif;
}

body{
	width: 100%;
	height: 80vh;
	
}

.container-login{
		position: relative;
		width: 100%;
		height: 100%; 
		display: flex;
	}
legend{
	text-align: center;
	color:#32324f;
	font-weight: 600px;

	/* font-size: 1.3em;
	margin-bottom: 15px; */
}
	


header{
	width: 100%;
	box-shadow: 5px 5px 10px rgba(236, 233, 233, 0.671) ;
	border-bottom: 2px solid #e2e2e2 ;
	height: 15%;

	
}
.img-box{
	width: 50%;
	height: 50%;
}
img{
	position: absolute;
	top: 20%;
    left: 0;
    right: 0;
    margin: auto;
	width: 170px;
	height: 170px;
	
}
.box{
	
	position: absolute;
	height: 28vh;
	top: 100%;
    left: 0;
    right: 0;
    margin: auto;
	width: 67%; 
	background-color: #ffffff;
	 
}
h3{
	text-align: center;
	text-transform: uppercase;

}

.texto{
	
	text-align: center;
}
.input-box{
	position: relative;
	margin: 37px;

	
	
	
}
.inputUser{
	background:none;
	 border: none;
	  border-bottom: 1px solid #b1b1b1;
	  outline: none;
	  font-size: 18px;
	  width: 100%;
	  letter-spacing: 2px;
	  
	  
	  
	  
}
.label-input{
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
}
.inputUser:focus ~ .label-input, 
.inputUser:valid ~ .label-input{
	top: -20px;
	font-size: 12px;
	color: #7285f2;
}
.logo{
	width: 0%;
	position: absolute;
	align-items: center;
	 top: 5%;
    left: 5%;
    transform: translate( -50%);
	 
}
.logo i{
	color: #607d8b;
	font-size: 23px;
}
/**/
i:hover{
	color: #2a41be;
}
#submit{
  border: none;
  width: 50%;
  padding: 15px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(9,92,197), rgb(90,20,220)) ;
  position: absolute;
  left: 50%;
  transform: translate( -50%);
/*  */
  
}







